@{
    ViewData["Title"] = "Customer Home";
}

<div style="display:flex; flex-direction:column; align-items:center; justify-content:center; height:100vh; text-align:center;">
    <h2>Welcome to Customer Home Page</h2>
    <p>You have successfully logged in.</p>

</div>
